#carouselExample{
      height:500px;
}
#size1{
    width: 60%;
    margin-left: 260px;
    margin-top: 110px;
}
#size2{
    width: 60%;
    margin-left: 270px;
    margin-top: 150px;
}
#size3{
    width: 60%;
    margin-left: 280px;
    margin-top: 160px;
}